/* Import font from google font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
header{
  width: 80%;
  background: rgba(255, 144, 14, 0.10);
  margin: 0 auto;
}
nav{
  display: flex;
  justify-content:space-between ;
  align-items: center;
}
nav .title{
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
nav ul{
  display: flex;
}
ul li{
  list-style: none;
  padding-right: 20px;
}
ul li a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
.brand_contant .brand_title{
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.brand_contant .p_tag_style{
  color: #727272;
  font-size: 1rem;
  text-align: center;
}
.brand_contant{
  line-height: 50px;
  width: 862px;
  margin: 0 auto;
}
.btn_primary{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  width: 180px;
  height: 64px;
  border-radius: 8px;
  background: #FF900E;
  border: 0;
  justify-content: center;
  align-items: center;
  margin: 20px 350px;
  cursor: pointer;
}
.brand_img img{
  width: 96%;
  margin: 2% ;
}

/* Main Part Style  */
main{
  width: 80%;
  margin: 0 auto;
}
.feature_section{
  display: flex;
  justify-content: space-between;
}
.feature_img{
  width: 38%;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 20px;
}
.feature_text{
  width: 38%;
  margin-top: 300px;
}
.feature_text > .btn_primary{
  margin-left: 0;
}
.feature_text .p_tag_style{
  color: #727272;
  font-size: 1rem;
}
.quic{
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
.of{
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.features{
  color: #FF900E;
  font-size: 45px;
  font-weight: 700;
}


/* Media Queri for Small device */
@media screen and (max-width:560px) {
  nav,
  .feature_section
  {
    flex-direction: column;
  }
  .feature_img{
    grid-template-columns: 1fr;
  }
  .feature_text{
    width: 70%;
    margin-top: 20px;
  }
  .brand_contant{
    width: 90%;
    margin: 10px;
    line-height: 40px;
  }
  .btn_primary{
    margin: 50px;
  }
}
/* Media Queri for Medium device */

@media screen and (min-width:560.1px) and (max-width:992px) {
  nav,
  .feature_section{
    flex-direction: column;
  }
  .feature_text{
    width: 90%;
    margin-top: 20px;
  }
  .brand_contant{
    width: 90%;
    margin: 10px;
    line-height: 40px;
  }
  .btn_primary{
    margin-left: 130px;
  }
}