/* Import font from google font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
}
header{
  width: 80%;
  background: rgba(255, 144, 14, 0.10);
  margin: 0 auto;
}
nav{
  display: flex;
  justify-content:space-between ;
  align-items: center;
}
nav .title{
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
nav ul{
  display: flex;
}
ul li{
  list-style: none;
  padding-right: 20px;
}
ul li a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
.brand_contant .brand_title{
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.brand_contant .p_tag_style{
  color: #727272;
  font-size: 1rem;
  text-align: center;
}
.brand_contant{
  line-height: 50px;
  width: 862px;
  margin: 0 auto;
}
.btn_primary{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  width: 180px;
  height: 64px;
  border-radius: 8px;
  background: #FF900E;
  border: 0;
  justify-content: center;
  align-items: center;
  margin: 20px 350px;
  cursor: pointer;
}
.brand_img img{
  width: 96%;
  margin: 2% ;
}

/* Main Part Style  */
main{
  width: 80%;
  margin: 0 auto;
}
.feature_section{
  display: flex;
  justify-content: space-between;
}
.feature_img{
  width: 38%;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 20px;
}
.feature_text{
  width: 38%;
  margin-top: 300px;
}
.feature_text > .btn_primary{
  margin-left: 0;
}
.feature_text .p_tag_style{
  color: #727272;
  font-size: 1rem;
}
.quic{
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}
.of{
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.features{
  color: #FF900E;
  font-size: 45px;
  font-weight: 700;
}



/* Feature part with Button style  */
.feature_parent{
  width: 90%;
  margin:50px auto;
  display: flex;
  justify-content: space-between;
}
.feature{
  width: 38%;
  line-height: 30px;
}
.feature_image{
  width: 48%;
}
.feature_image > img{
  width: 100%;
}
.feature .feature_title{
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  border-left: 5px solid #FF900E;
  padding-left: 15px;
  line-height: 40px;
}
.feature_first_text{
  margin-left: 20px;
}
.feature_image .btn > button{
  background-color: #FF900E;
  width: 320px;
  height: 170px;
  border: none;
  border-radius: 10px;
  position: relative;
  bottom: 100px;
}
.btn .badge{
  color: #FFF;
text-align: center;
font-size: 65px;
font-weight: 700;
line-height: 70px;
}
.btn .p_tag_style{
  color: #FFF;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
}

/* Card Box Style */
.card_box> h3{
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.card_box >p{
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.card_area{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.card{  
  width: 200px;
  height: 200px;
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  padding-top: 50px;
}
.card > img{
  width: 45px;
  height: 45px;
}
.card > h4{
  color: #424242;
  font-size: 45px;
  font-weight: 600;
}
.card > p{
  color: #727272;
  font-size: 15px;
  font-weight: 600;
}

/* Media Queri for Small device */
@media screen and (max-width:560px) {
  nav,
  .feature_section,
  .feature_parent
  {
    flex-direction: column;
  }
  .feature_img{
    grid-template-columns: 1fr;
  }
 .feature_image .btn > button{
    width: 270px;
    height: 120px;
    border: none;
    border-radius: 10px;
    bottom: 100px;
 }

  .feature{
    width: 90%;
  }
  .feature_text,
  {
    width: 70%;
    margin-top: 20px;
  }
  .brand_contant{
    width: 90%;
    margin: 10px;
    line-height: 40px;
  }
  .btn_primary{
    margin: 50px;
  }
}


/* Media Queri for Medium device */

@media screen and (min-width:560.1px) and (max-width:992px) {
  nav,
  .feature_section,
  .feature_parent
  {
    flex-direction: column;
  }
  .feature_text{
    width: 90%;
    margin-top: 20px;
  }
  .brand_contant{
    width: 90%;
    margin: 10px;
    line-height: 40px;
  }
  .btn_primary{
    margin-left: 130px;
  }
  .feature_img{
    grid-template-columns: 1fr;
  }
 .feature_image .btn > button{
    width: 270px;
    height: 120px;
    border: none;
    border-radius: 10px;
    bottom: 100px;
 }

  .feature{
    width: 90%;
  }
  .feature_text,
  {
    width: 70%;
    margin-top: 20px;
  }
}
/* Media Queri for Large device */
@media screen and (min-width:992.1px) and (max-width:1200px) {
  .feature_section{
    flex-direction: column;
    margin-left:100px ;
  }
  .feature_text{
    width: 90%;
    margin-top: 20px;
  }
  
}
